*{
    margin: 0;
    padding: 0;
    /* font-style: Roboto; */
}
body{
    background-color: black;
    color: white;
}
.left{
    width:25vw;
    padding:10px;
}
.right{
    width: 75vw;
}

.home ul li{
    display: flex;
    width: 22px;
    gap: 12px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
    font-size: 20px;

}
.library{
    min-height: 80vh;
    position: relative;
}
.footer{
    display: flex;
    flex-wrap: wrap;

    font-size: 20px;
    color: grey;
    gap: 15px;
    position: absolute;
    bottom: 0;

}
.footer a{
    color: grey;
}
.right{
    margin: 16px 0;
}
.heading{
    display: flex;
    width: 100%;
    gap: 12px;
    list-style: none;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    font-size: 14px;
    align-items: center;

}
.heading img{
    width: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: grey;
}
.header >*{
    padding: 20px;
    
}
.btn{
    width: 70px;
    height: 40px;
    font-size: 90%;
}
.SpotifyPlaylist{
    padding: 16px;

}
.CardContainer{
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 70vh;
}
.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}
.card > *{
    padding-top: 10px;
}
.card img{
    width: 100%;
    object-fit: contain;

}
.play{
    width: 28px;
    height: 28px;
    background-color: #0bcd52;
    border-radius: 50%;
    /* border: 2px solid #000; */
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 17px;
    opacity: 0;
    transition: all ease-out ;

}
.signupbtn{
    background-color: black;
    color: white;
    font-weight: bold;
}
.signupbtn:hover{
    font-size: 1.1rem;
}
.loginbtn{
    background-color: black;
    color: white;
    font-weight: bold;
}
.loginbtn:hover{
    font-size: 1.1rem;
}
